*{
padding: 0;
margin: 0;
font-family: 'DM Serif Display', serif;
}
.LogoTomFord{
width: 10%;
}
nav{
    display: flex;
    list-style: none;
    width: 100%;
    background-color:rgba(221, 179, 27, 0.144);
    height: 65px;
    padding: 0px;
    font-size: 15px;
    font-size: large;
    position: absolute;
}

nav li {  
   margin-left: 350px;
   margin-top: 20px;
   
}
#parfum{
    width: 100%;
}
.Texteh2{
margin-top: 30px;
text-align: center;
font-size: 50px;
}
.Mid{
    display: flex;
    text-align: justify;
}
.Mid .texte1{
    width: 95%;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 190px;
    font-size: 25px;
    word-spacing: 15px;
    
}
.TFCHERRY{
width: 65%;
}
.textenouvcol{
margin-top: 30px;
text-align: center;
font-size: 50px;

}
.banniererose{
height: 700px;    
}
.texte2{
    width: 95%;
    font-size: 25px;
    padding-left: 50px;
    word-spacing: 15px;
    text-align: justify;
    
}
.parfumrose{
    display: flex;
    padding-top: 50px;
}
main{
    width: 100%;
}
#parfum2{
    width: 60%;
    padding-left: 350px;
    padding-top: 60px;
}
#roseprick{
    width: 45%;
    padding-left: 80px;
}
#rosederussie{
    width: 45%;
    padding-left: 30px;
}


@media screen and (max-width: 430px){
header{
    background-color: aqua;
    display: inline;
}
#LogoTomFord{
    width: 30px;  
}
nav{
width: 100%;
height: 20px;
}
nav li {  
padding: 0px;
margin: 0px; 
font-size: 10px; 
}
.Texteh2 {
font-size: 7px;
width: 50%; 
padding: 0;

}
.Mid {
display: inline;
}
.texte1 p{
font-size: 7px; 



}
.texte1{
   

}
.textenouvcol h2{
font-size: 15px;
width: 100%;
}
#parfum{
    width: 50%;
   
}

}